[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
fastapi = "*"
uvicorn = "*"
nats-py = "*"
gunicorn = "*"
flask = "*"

[dev-packages]

[requires]
python_version = "3.10"
